<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="shortcut icon" href="/css/favicon.ico" />
</head>

<body>

    <div>
        <h3>Абитуриенты</h3>

        <% arrayUsers.forEach( user => { %>
            <li>
            <%= user.lastName %> 
            <%= user.firstName %> 
            <%= user.rating %>
            </li>
        <% }); %>
    
    </div>

</body>
</html>