<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Users</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="shortcut icon" href="/css/favicon.ico" />
</head>

<body>

    <div>
        <h3> <%= title %> </h3>
        <!-- 
            1) заменить forEach на цикл for по индексам массива arrrayUsers
            2) добавить нумерацию по порядку от 1 и до последнего
            3) разместить записи не в тег li, а в таблицу 
               - каждая запись в отдельной строке таблицы
               - каждое поле в отдельной ячейке
               - сверху - заголовки полей
        -->
        <% arrayUsers.forEach( user => { %>
            <li>
                <%= user.lastName %> 
                <%= user.firstName %> 
                <%= user.rating %>
            </li>
        <% }); %>
    
    </div>

</body>
</html>