<center>
<form>

    <button class="green"
        formaction="/abiturs/fields" 
        formmethod="get" 
        type="submit">
        fields check rb
    </button>

    <button class="green"
        formaction="/abiturs/new" 
        formmethod="get" 
        type="submit">
        Добавить абитуриента
    </button>

</form>
</center>
<br>