<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Abiturs</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="shortcut icon" href="/css/favicon.ico" />
</head>

<body>

    <div>
        <h3>Добавить пользователя</h3>
        <!-- 
            в каждом объекте на web-форме должен быть атрибут "name", 
            по которому и будет добавляться поле в объект req.body
        -->

        <form>
            <input class="value"
                type="text" 
                name="lastName" 
                minlength="1" maxlength="255" size="32" required
                placeholder="Фамилия" /> <br>

            <input class="value"
                type="text" 
                name="firstName" 
                minlength="1" maxlength="255" size="32" required
                placeholder="Имя" /> <br>
            
            <label>
                <input 
                    type="radio" 
                    name="gender" 
                    value="1" 
                    checked />
                муж
            </label>
    
            <label>
                <input 
                    type="radio" 
                    name="gender" 
                    value="0" />
                жен
            </label>

            <br><br>
 
            <button class="green"
                formaction="/postUser" 
                formmethod="post" 
                type="submit">
                Добавить
            </button>

        </form>
        
        <form>
            <button class="red"
                formaction="/getUsers" 
                formmethod="get" 
                type="submit">
                Отмена
            </button>
        </form>

    </div>

</body>
</html>